{% extends 'look/main.html' %}
{% load static %}

{% block title %}ISMINES{% endblock %}

{% block content %}
<div class="header">
    <div class="main-container">
      <div class="main-container_btn">
        <div class="btn-group">
            <div id="header">
                <div class="The_main_menu_is_on_top">
                {% if user.is_authenticated %}
                    <div class="Separation_of_input_and_output">
                        <a class="look_tasks" href="{% url 'main_page_with_tasks' user.id %}">
                          <h1 class="look_tasks_text">Перейти на страницу задач</h1></a>
                     </div>
                {% else %}
                    <div class="Separation_of_input_and_output">
                        <a class="create_akk" href="/register">
                          <h1 class="create_akk_text">СОЗДАТЬ АККАУНТ</h1></a>
                        <a class="add_tasks" href="/user_login">
                          <h1 class="add_task_text">ВОЙТИ В АККАУНТ</h1></a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}